{% extends "main.html" %}
{% block content %}
<div class="row top-menu">
    <div class="col-md-10">
        <h1>Catalog App</h1>
    </div>
    <div class="col-md-2 text-right">
        <a href="{{url_for('showLogin')}}">Click Here to Log in </a>
    </div>
</div>
<div class = 'flash'>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
<div class="row">
    <div class="col-md-4 padding-none">
        <div class="row divider blue">
            <div class="col-md-12"></div>
        </div>
        <div class="row banner main">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <h1>Category</h1>
            </div>
        </div>
        {% for cat in category %}
        <a href = "{{url_for('showItems', category_id = cat.id)}}">
            <h3 class="cat-list">{{cat.name}}</h3>
        </a>
        {% endfor %}		
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-7 padding-none">
        <div class="row divider blue">
            <div class="col-md-12"></div>
        </div>
        <div class="row banner main">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <h1>Latest items</h1>
            </div>
        </div>
        {% for item in items %}
        <a href = "{{url_for('showItemDetail', item_id = item.id)}}">
            <h3 class="cat-list">{{item.name}}</h3>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}